.stats-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  margin-top: 20px;
}

.last-perfume-container{
  width: clamp(320px, 40vw, 520px);
  margin-left: auto;
  margin-top: 20px;
  min-width: 0;
  float: 1;
}

.lastOrder-and-chart{
  display: flex;
  gap: 16px;
  align-items: stretch;
}

.Orders-contiainer{
  flex:1;
  min-width: 0;
  margin-top: 65px;
}